  <div class="box degrade_gris_clair">

    <!-- COLONNE GAUCHE-->
    <div class="col_left">

      <!-- AVATAR 1-->
      <div class="avatar1 index99 opacity30 txt_center">

        <!-- info blind-->
        <div class="box_blind degrade_gris_fonce defaut_color pad5 bold font14 maj top115">
          sb
        </div>

        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/avatar.jpg" class="width90px height90px radius50p opacity100" /></div>
        <div class="avatar_player_name color16 top10">Player 1</div>
        <div class="text bg_defaut_color color1 bold font18 txt_center top1 radius5">32144</div>

      </div>

      <!-- AVATAR 2-->
      <div class="avatar2 index99 txt_center">

        <!-- info blind-->
        <div class="box_blind degrade_gris_fonce defaut_color pad5 bold font14 maj top125">
          bb
        </div>

        <!-- cards -->
        <div class="box_card_avatar bg_color99">
          <img src="./assets/images/dos.png" class="card_avatar_1 shadow_color" />
          <img src="./assets/images/dos.png" class="card_avatar_2 shadow_color" />
        </div>

        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso.jpg" class="width90px height90px radius50p opacity100" /></div>
        <svg class="progress" data-progress="100" viewBox="0 0 80 80">
          <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
          <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        </svg>
        <div class="avatar_player_name color16 top20">Player 2</div>
        <div class="text bg_defaut_color color1 bold font18 txt_center top1 radius5">32144</div>

      </div>

      <!-- AVATAR 3-->
      <div class="avatar3 index99 opacity30 txt_center">

        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/batman.png" class="width90px height90px radius50p opacity100" /></div>
        <div class="avatar_player_name color16 top10">Player 3</div>
        <div class="text bg_defaut_color color1 bold font18 txt_center top1 radius5">32144</div>

      </div>

      <!-- AVATAR 4-->
      <div class="avatar4 index99 opacity30 txt_center">

        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso3.jpg" class="width90px height90px radius50p opacity100" /></div>
        <div class="avatar_player_name color16 top10">Player 4</div>
        <div class="text bg_defaut_color color1 bold font18 txt_center top1 radius5">32144</div>

      </div>

      <!-- MY AVATAR-->
      <div class="my_avatar index999 txt_center padtop10">

        <!-- info blind
        <div class="my_box_blind degrade_gris_fonce defaut_color pad5 bold font14 maj">
            sb
        </div> -->
        <!-- My cards -->
        <div class="my_box_card top10">
          <img src="./assets/images/2_ca.png" class="my_card_1" />
          <img src="./assets/images/2_tr.png" class="my_card_2" />
        </div>

        <!-- img avatar-->
        <div class="my_avatar_img left"><a href=""><img src="./assets/images/demon.jpg" class="width50px height50px radius50p opacity100" /></a></div>
        <div class="left color16">
          <div class="top5">My Name</div>
          <div class="bg_defaut_color color1 bold font18 txt_center top5 radius5">32144</div>
        </div>

      </div>

      <!-- AVATAR 6-->
      <div class="avatar6 index99 opacity20 txt_center">
        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso4.jpg" class="width90px height90px radius50p opacity100" /></div>
      </div>

      <!-- AVATAR 7-->
      <div class="avatar7 index99 opacity20 txt_center">
        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso4.jpg" class="width90px height90px radius50p opacity100" /></div>
      </div>

      <!-- AVATAR 8-->
      <div class="avatar8 index99 txt_center">

        <!-- cards -->
        <div class="box_card_avatar bg_color99">
          <img src="./assets/images/dos.png" class="card_avatar_1 shadow_color" />
          <img src="./assets/images/dos.png" class="card_avatar_2 shadow_color" />
        </div>

        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso2.jpg" class="width90px height90px radius50p opacity100" /></div>
        <div class="avatar_player_name color16 top20">Player 8</div>
        <div class="text bg_defaut_color color1 bold font18 txt_center top1 radius5">32144</div>

      </div>

      <!-- AVATAR 9-->
      <div class="avatar9 index99 opacity20 txt_center">
        <!-- img avatar-->
        <div class="box_img_avatar"><img src="./assets/images/perso4.jpg" class="width90px height90px radius50p opacity100" /></div>
      </div>

      <div class="absolute index99"><img src="./assets/images/table_ok.png" class="poker_table" /></div>
      <div class="absolute index9"><img src="./assets/images/fond2.jpg" class="poker_decor" /></div>
    </div>

    <!-- COLONNE DROITE-->
    <div class="degrade_gris_moyen bd_left_bl col_right">

      <ul>
        <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
        <li class="active"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>

      <!-- Ranking TABLE
      <div class="ranking_box_table bg_color12 shadow top20">

          <div class="ranking_box_title bg_color5 defaut_color font16 italic txt_center maj bold">
              Rank Table : 3 / 5
          </div>
          <div class="ranking_line dflex color1 font14 bold bg_color11 top40">
              <div class="ranking_line_content width10">#</div>
              <div class="ranking_line_content width60">Pseudo</div>
              <div class="ranking_line_content width30">Jetons</div>
          </div>
              <div class="ranking_line dflex color3 font14 top5">
                  <div class="ranking_line_content width10">1</div>
                  <div class="ranking_line_content width60">S. Englebert</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">2</div>
                  <div class="ranking_line_content width60">J. Gubin</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14 bg_defaut_color">
                  <div class="ranking_line_content width10">3</div>
                  <div class="ranking_line_content width60">L. Pierre</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">4</div>
                  <div class="ranking_line_content width60">P. Belmart</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">5</div>
                  <div class="ranking_line_content width60">S. Stalone</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">6</div>
                  <div class="ranking_line_content width60">...</div>
                  <div class="ranking_line_content width30"></div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">7</div>
                  <div class="ranking_line_content width60">...</div>
                  <div class="ranking_line_content width30"></div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">8</div>
                  <div class="ranking_line_content width60">...</div>
                  <div class="ranking_line_content width30"></div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">9</div>
                  <div class="ranking_line_content width60">...</div>
                  <div class="ranking_line_content width30"></div>
              </div>
      </div> -->
      <!-- Ranking TOURNAMENT
      <div class="ranking_box_tournament bg_color12 shadow">

          <div class="ranking_box_title bg_color5 defaut_color font16 italic txt_center maj bold">
              Rank Tournament : 7 / 58
          </div>

          <div class="ranking_line dflex color1 font14 bold bg_color11 top40">
              <div class="ranking_line_content width10">#</div>
              <div class="ranking_line_content width60">Pseudo</div>
              <div class="ranking_line_content width30">Jetons</div>
          </div>
              <div class="ranking_line dflex color3 font14 top5">
                  <div class="ranking_line_content width10">1</div>
                  <div class="ranking_line_content width60">S. Englebert</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">2</div>
                  <div class="ranking_line_content width60">J. Gubin</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">3</div>
                  <div class="ranking_line_content width60">L. Pierre</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">4</div>
                  <div class="ranking_line_content width60">P. Belmart</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">5</div>
                  <div class="ranking_line_content width60">S. Stalone</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">6</div>
                  <div class="ranking_line_content width60">W. Churchil</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14 bg_defaut_color">
                  <div class="ranking_line_content width10">7</div>
                  <div class="ranking_line_content width60">M. Bean</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">8</div>
                  <div class="ranking_line_content width60">d3im0s</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">9</div>
                  <div class="ranking_line_content width60">Gemini</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">10</div>
                  <div class="ranking_line_content width60">Bruto</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">11</div>
                  <div class="ranking_line_content width60">xxxxx</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">12</div>
                  <div class="ranking_line_content width60">xxxxx</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">13</div>
                  <div class="ranking_line_content width60">xxxxx</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">14</div>
                  <div class="ranking_line_content width60">xxxxx</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width10">15</div>
                  <div class="ranking_line_content width60">xxxxx</div>
                  <div class="ranking_line_content width30">9999999</div>
              </div>

              <div class="ranking_line dflex color3 font14">
                  <div class="ranking_line_content width100">...</div>
              </div>

      </div>  -->
      <!-- Mains poker -->
      <div class="ranking_box_tournament bg_color12 shadow">

        <div class="ranking_box_title bg_color5 defaut_color font16 italic txt_center maj bold">
          mains poker
        </div>

        <div class="ranking_line dflex color3 font14 top5">
          <div class="ranking_line_content width100">1</div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Quinte Flush Royale
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Quinte Flush
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Carré
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Full
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Couleur
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Quinte
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Brelan
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Double paire
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Paire
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

        <div class="ranking_line color3">
          <div class="ranking_line_content width100">
            Carte haute
          </div>
          <div class="ranking_line_content width100">
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
            <img src="./assets/images/2_ca.png" />
          </div>
        </div>

      </div>
    </div>

  </div>
