/* cyrillic-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjEYTLHdQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjNYTLHdQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjFYTLHdQ.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjKYTLHdQ.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjGYTLHdQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjHYTLHdQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/va9C4kDNxMZdWfMOD5Vn9LjJYTI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: 'Fira Sans' !important, sans-serif;
    var w = window.innerWidth;
    var h = window.innerHeight;
}
a {text-decoration:none;}
a:link {text-decoration: none;}

body {padding-top:20px;}

/* =========== BASIC COLOR =============== */
.bg_defaut_color {
  background: #f7a728;
}
.defaut_color {
  color: #f7a728;
}
.shadow_color {
  box-shadow: 0px 0px 4px 4px rgba(247, 167, 40,0.50);
}
    
/* =========== COLONNE GAUCHE =============== */ 
.col_left {
      position:absolute;
      margin-left: 0px;
    }

.msgToPlayer {
  background-color: black;
  border-radius: 10px;
  color: #f7a728;
}
    
/* =========== COLONNE DROITE =============== */ 
.col_right {
      position:absolute;
      width:350px;
    }
    
/* =========== RANK TABLE =============== */ 
.ranking_box_table {
      width:315px;

      height:100%;
      position: absolute;
      /*border-left:4px solid black;*/
      /*border-right:3px solid black;*/
      /*border-bottom:1px solid red;*/
    }

.ranking_box_table::-webkit-scrollbar {width: 5px;}
.ranking_box_table::-webkit-scrollbar-track {background: #555555;}

.ranking_box_title {
      width:315px;
      height:30px;
      position: absolute;
    }
    
.ranking_line {
      padding:5px;
      margin-top:2px;
      max-width:310px;
    }
    
.ranking_line_content {
      /*padding:2px;*/
    }
.ranking_line_content img{
    width:43px;
    height:48px;
    /*margin-left:5px;*/
}

    
/* =========== RANK TOURNAMENT =============== */    
.ranking_box_tournament {
      width:315px;
      height:100%;
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto;
      /*margin-left:3px;*/
      /*border:1px solid red;*/
    }

.ranking_box_tournament::-webkit-scrollbar {width: 5px;}
.ranking_box_tournament::-webkit-scrollbar-track {background: #555555;}

.poker_decor {
      opacity: 1;
      z-index:1;
    }
    
.poker_table {
      opacity: 1;
      z-index:99;
    }
    
.box_img_avatar {
      width:120px;
      height:85px;
      z-index:999;
    }
    
.box_blind {
      position: absolute;
      margin-left:110px;
      border: solid 2px #cccccc;
      z-index:999;
      -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
    }
    
.box_card_avatar {
      position: absolute;
      margin-top: 0px;
      margin-left:0px;
      z-index:999;
      transform: rotate(10deg);
    }
    
.avatar_player_name {
    width:100%;
    margin-bottom:10px;
    text-align: center;
    }
    
.card_avatar_1 {
    position: absolute;
    margin-left:90px;
    margin-top: 30px;
    z-index:999;
    transform: rotate(-5deg);
    }
    
.card_avatar_2 {
    position: absolute;
    margin-left:105px;
    margin-top: 30px;
    z-index:999;
    transform: rotate(5deg);
    }
    
.avatar1, .avatar2, .avatar3, .avatar4, .avatar5, .avatar6, .avatar7, .avatar8, .avatar9 {
      position:absolute;
      width:120px;
    }
    
.my_avatar {position:absolute;}
    
.my_avatar_img {
      width:80px;
      height:80px;
      z-index:999;
    }
    
.my_box_blind {
      position: absolute;
      left:-20px;
      top:10px;
      border: solid 2px #cccccc;
      z-index:999;
      -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
    }
    
.my_box_card {
      position: absolute;
      top: 55px;
      left:0px;
      z-index:999;
      width:175px;
      height:175px;
    }
    
.my_card_1 {
    position: absolute;
    width:100px;
    height:136px;
    left:0px;
    top: 0px;
    z-index:999;
    transform: rotate(-5deg);
    }
    
.my_card_2 {
    position: absolute;
    width:100px;
    height:136px;
    right:0px;
    top: 0px;
    z-index:999;
    transform: rotate(5deg);
    }
.btn_dealer_player{
    position:absolute;
    width:18px;
    height:20px;
    margin-top:370px;
    margin-left:360px;
    padding:0px 2px 3px 4px ;
    z-index:999;
    color:black;
    background-color:white;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    border-radius:13px;
    border:2px solid black;
}
.btn_dealer_opponent{
    position:absolute;
    width:18px;
    height:20px;
    margin-top:220px;
    margin-left:360px;
    padding:0px 2px 3px 4px ;
    z-index:999;
    color:black;
    background-color:white;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    border-radius:13px;
    border:2px solid black;
}
.chips_player {
  position: absolute;
  width: 100px;
  height: 20px;
  margin-top: 370px;
  margin-left: 410px;
  padding: 5px 0px 0px 20px;
  z-index: 999;
  color: #304717;
  border-radius: 13px;
  border: 2px solid #304717;
}

.chips_opponent {
  position: absolute;
  width: 100px;
  height: 20px;
  margin-top: 220px;
  margin-left: 410px;
  padding: 5px 0px 0px 20px;
  z-index: 999;
  color: #304717;
  border-radius: 13px;
  border: 2px solid #304717;
}
.central_cards {
  position: absolute;
  width: 250px;
  height: 65px;
  margin-top: 267px;
  margin-left: 345px;
  z-index: 999;
}

.card_flop1 {
  position: absolute;
  width: 48px;
  height: 65px;
  margin-top: 267px;
  margin-left: 345px;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.card_flop2 {
  position: absolute;
  width: 48px;
  height: 65px;
  margin-top: 267px;
  margin-left: 390px;
  left: 0px;
  top: 0px;
  z-index: 999;
}
.card_flop3 {
  position: absolute;
  width: 48px;
  height: 65px;
  margin-top: 267px;
  margin-left: 435px;
  left: 0px;
  top: 0px;
  z-index: 999;
}
.card_turn {
  position: absolute;
  width: 48px;
  height: 65px;
  margin-top: 267px;
  margin-left: 480px;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.card_river {
  position: absolute;
  width: 48px;
  height: 65px;
  margin-top: 267px;
  margin-left: 525px;
  left: 0px;
  top: 0px;
  z-index: 999;
}
.pot {
  position: absolute;
  width: 80px;
  height: 60px;
  margin-top: 267px;
  margin-left: 625px;
  z-index: 999;
  color: #304717;
  text-align: center;
  font-size: 20px;
}
.timer_opponent {
  position: absolute;
  width: 80px;
  height: 60px;
  margin-top: 100px;
  margin-left: 200px;
  z-index: 999;
  color: #304717;
  text-align: center;
  font-size: 20px;
}
.timer_player {
  position: absolute;
  width: 80px;
  height: 60px;
  margin-top: 470px;
  margin-left: 200px;
  z-index: 999;
  color: #304717;
  text-align: center;
  font-size: 20px;
}
/* ======================================================================== A PARTIR DE 1600 ========================================================================== 
   ========================================================================================================================================================================= */ 
@media screen and (min-width: 1600px) {
    .box {
      width:1607px;
      height:800px;
      margin: auto;
    }

    .box_navbar {
      width: 1607px;
      height: 150px;
      margin: auto;
      z-index: 999;
      background-color: black;
      -webkit-box-shadow: 0 0 10px #808080;
      box-shadow: 0 0 10px #555555;
    }

    .bar_box{
        width:1607px;
        height:30px;
        margin:auto;
    }
    
    .col_left {
        height:800px;
        width: 1250px;
    }
    
    .col_right {
      height:800px;
      margin-left: 1250px;
    }
    
    .ranking_box_tournament {
      height: 100%;
      scrollbar-color: dark;
    }
    
    .poker_decor {
      opacity: 1;
      width:1250px;
      height:800px;
    }
    
    .poker_table {
      width:705px;
      height:280px;
      margin-top: 260px;
      margin-left:275px;
    }
    
    .avatar1 {margin-top: 105px;margin-left:700px;}
    .avatar2 {margin-top: 160px;margin-left:940px;}
    .avatar3 {margin-top: 400px;margin-left:1000px;}
    .avatar4 {margin-top: 565px;margin-left:820px;}
    .my_avatar {margin-top: 560px;margin-left:550px;}
    .avatar6 {margin-top: 565px;margin-left:320px;}
    .avatar7 {margin-top: 400px;margin-left:120px;}
    .avatar8 {margin-top: 160px;margin-left:170px;}
    .avatar9 {margin-top: 105px;margin-left:430px;}
  .avatar10 {
    margin-top: 105px;
    margin-left: 565px;
  }
  .btn_dealer_player {
    position: absolute;
    width: 18px;
    height: 20px;
    margin-top: 500px;
    margin-left: 530px;
    padding: 0px 2px 3px 4px;
    z-index: 999;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-radius: 13px;
    border: 2px solid black;
  }

  .btn_dealer_opponent {
    position: absolute;
    width: 18px;
    height: 20px;
    margin-top: 300px;
    margin-left: 530px;
    padding: 0px 2px 3px 4px;
    z-index: 999;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-radius: 13px;
    border: 2px solid black;
  }
  .chips_player {
    position: absolute;
    width: 100px;
    height: 20px;
    margin-top: 500px;
    margin-left: 580px;
    padding: 5px 0px 0px 20px;
    z-index: 999;
    color: #304717;
    border-radius: 13px;
    border: 2px solid #304717;
  }
  .chips_opponent {
    position: absolute;
    width: 100px;
    height: 20px;
    margin-top: 300px;
    margin-left: 580px;
    padding: 5px 0px 0px 20px;
    z-index: 999;
    color: #304717;
    border-radius: 13px;
    border: 2px solid #304717;
  }
  .central_cards{
      position:absolute;
      width: 300px;
      height: 85px;
      margin-top:360px;
      margin-left:450px;
      z-index: 999;

  }
  .card_flop1 {
    position: absolute;
    width: 63px;
    height: 85px;
    margin-top: 360px;
    margin-left: 450px;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
  .card_flop2 {
    position: absolute;
    width: 63px;
    height: 85px;
    margin-top: 360px;
    margin-left: 510px;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
  .card_flop3 {
    position: absolute;
    width: 63px;
    height: 85px;
    margin-top: 360px;
    margin-left: 570px;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
  .card_turn {
    position: absolute;
    width: 63px;
    height: 85px;
    margin-top: 360px;
    margin-left: 630px;
    left: 0px;
    top: 0px;
    z-index: 999;
  }

  .card_river {
    position: absolute;
    width: 63px;
    height: 85px;
    margin-top: 360px;
    margin-left: 690px;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
  .pot {
    position: absolute;
    width: 80px;
    height: 60px;
    margin-top: 360px;
    margin-left: 855px;
    z-index: 999;
    color: #304717;
    text-align:center;
    font-size:22px;
  }
  .timer_opponent {
  position: absolute;
  width: 80px;
  height: 60px;
  margin-top: 130px;
  margin-left: 325px;
  z-index: 999;
  color: #304717;
  text-align: center;
  font-size: 20px;
}
.timer_player {
  position: absolute;
  width: 80px;
  height: 60px;
  margin-top: 600px;
  margin-left: 325px;
  z-index: 999;
  color: #304717;
  text-align: center;
  font-size: 20px;
}
  .btn_raise {
    width: 150px;
    height: 20px;
    margin: auto;
    background-color: #333;
    padding: 5px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }

    .btn_raise:hover {
      background-color: #e76138;
    }
}

/* ======================================================================== DE 1280 A 1600 ========================================================================== 
   ========================================================================================================================================================================= */ 
@media only screen and (min-width: 1px) and (max-width: 1599px) {
    .box {
        width:1288px;
        height:620px;
        margin: auto;
    }

    .box_navbar {
      width: 1288px;
      height: 150px;
      margin: auto;
      z-index: 999;
      background-color: black;
      -webkit-box-shadow: 0 0 10px #808080;
      box-shadow: 0 0 10px #555555;
    }
    
    .col_left {
      height:620px;
      width: 930px;
    }
    
    .col_right {
      height:620px;
      margin-left: 930px;
    }

    .ranking_box_table {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    .ranking_box_tournament {
      margin-top:0px;
    }
    
    .poker_decor {
      opacity: 1;
      width:930px;
      height:620px;
    }
    
    .poker_table {
      width:505px;
      height:215px;
      margin-top: 185px;
      margin-left:215px;
    }
    
    .avatar1 {
      margin-top: 70px;
      margin-left:515px;
    }
    
    .avatar1 {margin-top: 45px;margin-left:500px;}
    .avatar2 {margin-top: 75px;margin-left:700px;}
    .avatar3 {margin-top: 275px;margin-left:755px;}
    .avatar4 {margin-top: 425px;margin-left:625px;}
    .my_avatar {margin-top: 410px;margin-left:375px;}
    .avatar6 {margin-top: 425px;margin-left:175px;}
    .avatar7 {margin-top: 275px;margin-left:50px;}
    .avatar8 {margin-top: 75px;margin-left:125px;}
    .avatar9 {margin-top: 45px;margin-left:300px;}
    .avatar10 {margin-top: 35px;margin-left:400px;}
  .btn_raise {
    width: 150px;
    height: 20px;
    margin: auto;
    background-color: #333;
    padding: 5px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }

    .btn_raise:hover {
      background-color: #e76138;
    }
}


